<div class="main-pattern">
  <div class="container white-bg">
    <div class="row">
      <div class="col s12">
        <h4>View Contacts</h4>
        <% @receiver = User.find(params[:my_id]) %>
        <% if @receiver.user_type == 'student' %>
          <% @student = @receiver.student_profile %>
          <!-- Check for all message to search for user id that has never been added into the connections list -->
          <%= content_tag_for(:tr, @messages) do |message| %>
            <% if (message.from == params[:my_id].to_i) || (message.to == params[:my_id].to_i) %>
              <% if params[:my_id].to_i != current_user.id %> <!-- do not save my own id into my connections list -->
                <% if !@student.connections.include?(message.from) %>
                  <p>added </p>
                  <% @student.connections << message.from %>
                  <% @student.save! %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <ol>
            <% @student.connections.each do |connection|%>
              <p>
                <% @sender_user = User.find(connection)%>
                <% if @sender_user.user_type == 'student'%>
                  <% @sender = @sender_user.student_profile%>
                  <li><%= link_to @sender.full_name, pages_conversations_path(my_id: current_user.id, contact: @sender_user.id) %></li>
                <% elsif @sender_user.user_type == 'organisation'%>
                  <% @sender = @sender_user.organisation%>
                  <li><%= link_to @sender.company_name, pages_conversations_path(my_id: current_user.id, contact: @sender_user.id) %></li>
                <% end %>
              </p>
            <% end %>
          </ol>
        <!-- End if @receiver.user_type == 'student'   -->

        <% elsif @receiver.user_type == 'organisation' %>

        <!-- End if @receiver.user_type == 'organisation' -->
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- <div class="form-actions">
  <%= link_to 'New Message', new_message_path, class: 'btn btn-success' %>
</div> -->
