<div class="row">
  <div class="col s12 m8 offset-m2 l8 offset-l2">
    <div class="errormsg"><h5>Access to this page is not allowed.</h5></div>
  </div><!-- end of col s12 -->
</div><!-- end of row -->
