<div class="main-pattern">
  <div class="container white-bg">
    <div class="row">
      <div class="col s12">
        <div class="errormsg"><p>Access to this page is not allowed.</p></div>
      </div><!-- end of col s12 -->
    </div><!-- end of row -->
  </div><!-- end of container white-bg -->
</div><!-- end of main-pattern -->
