<% if user_signed_in? %>
  <% if current_user.id == @organisation.user.id %>
    <div class="row">
      <div class="col s12 m8 offset-m2 l8 offset-l2">
        <h4>Editing Organisation</h4>
        <%= render 'form' %>
        <%= link_to 'Show', @organisation %>
      </div>
    </div>
  <% else %>
    <%= render "listings/forbidden" %>
  <% end %>
<% end %>
