<mark>Select Up To Two Categories</mark>
<br><br>
<%= simple_form_for(@audience) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
