<div class="main-pattern">
  <div class="container white-bg">
    <div class="row">
      <div class="col s12">
        <% if current_user.has_role? :admin %>
          <h4>Editing Audience</h4>
          <%= render 'form' %>
          <%= link_to 'Show', @audience %> |
          <%= link_to 'Back', audiences_path %>
        <% else %>
          <%= render "listings/forbidden" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
