<div class="main-pattern">
  <div class="container white-bg">
    <div class="row">
      <div class="col s12">
        <h4>Editing Audience</h4>
        <%= render 'form' %>
        <%= link_to 'Show', @audience %> |
        <%= link_to 'Back', audiences_path %>
      </div>
    </div>
  </div>
</div>
