<div class="main-pattern">
  <div class="container white-bg">
    <div class="row">
      <div class="col s12">
        <%@org_id = params[:org_id]%>
        <h1>Editing News</h1>
        <%= render 'form' %>
        <%#= link_to 'Show', @news %> 
        <%#= link_to 'Back', news_index_path %>
      </div>
    </div>
  </div>
</div>
