<h1>Thanks for visiting us</h1>
<h4>Contact Information</h4>
<p><i class="small fa fa-home"></i> PO Box A345 Sydney South NSW 1235</p>
<p><i class="small fa fa-phone"></i> TBA</p>
<p><i class="small fa fa-envelope"></i> Enquiries@blacademics.org</p>
<p><i class="small fa fa-twitter"></i> @blacademics</p>
<p><i class="small fa fa-facebook-official"></i> www.facebook.com/blacademicsrak</p>
<br>
<h4>Newsletter</h4>
<p>Register to our newsletter and be updated with the latest information regarding our services, offers and much more.</p>
