<div class="row">
  <div class="col s12 m8 offset-m2 l8 offset-l2 text-center">
    <h4>Download the following PDF files for information about possible ways to enter university.</h4>
      <a href="http://res.cloudinary.com/blacademics-limited/raw/upload/v1444873415/100_Pathways_to_university.pdf">
        <div class="card-panel palette2-bg black-text">
          <h5>Pathways To University</h5>
        </div>
      </a>

      <a href="http://res.cloudinary.com/blacademics-limited/raw/upload/v1444873415/101_Direct_Entry_to_university.pdf">
        <div class="card-panel palette3-bg black-text">
          <h5>Direct Entry To University</h5>
        </div>
      </a>

      <a href="http://res.cloudinary.com/blacademics-limited/raw/upload/v1444873415/102_Indirect_Alternative_Entry_to_university.pdf">
        <div class="card-panel palette2-bg black-text">
          <h5>Indirect Alternative Entry To University</h5>
        </div>
      </a>

      <a href="http://res.cloudinary.com/blacademics-limited/raw/upload/v1444873415/103_ITAS_tutoring_for_students.pdf">
        <div class="card-panel palette3-bg black-text">
          <h5>ITAS Tutoring For Students</h5>
        </div>
      </a>
  </div>
</div>
