<div class="row">
  <div class="col s12 m10 offset-m1 l10 offset-l1">
    <h4>High School Students</h4>
      <div class="quotes">
        <p class="flow-text bold" >Welcome to Blacademics guy.</p>
        <p class="flow-text">You’ve probably already check out the website including the video, infographic and photographs so you might want something else to do here now.</p>
        <p class="flow-text">We’ve created a place for you to tell your story on the "My Profile" page. </p>
        <p class="flow-text italic">Please <a href="/users/sign_in">Sign Up or Sign In</a> and start sharing your story to your friends and relatives.</p>
        <p class="flow-text">You’ll be able to message your friends and relatives and ask other people questions about their studies and how they succeeded at university.</p>
    </div><!-- end of quotes -->
    <br><br>

    <div class="row">
      <!-- View Listings -------------------------------------->
      <a href="/pages/highschoolers_view_listings">
        <div class="col s12 m4 l4">
          <div class="card-panel palette4-bg center">
            <span class="white-text">View Listings</span>
          </div>
        </div>
      </a>

      <!-- Universities and Indigenous Units-------------------------------------->
      <a href="/pages/universities">
        <div class="col s12 m4 l4">
          <div class="card-panel palette4-bg center">
            <span class="white-text">Universities and Indigenous Units</span>
          </div>
        </div>
      </a>

      <!-- Guides & FAQ -------------------------------------->
      <a href="/pages/guides">
        <div class="col s12 m4 l4">
          <div class="card-panel palette4-bg center">
            <span class="white-text">Guides & FAQ</span>
          </div>
        </div>
      </a>
    </div><!-- end of row -->

  </div>
</div><!-- end of row -->
