<div class="main-pattern">
  <div class="container white-bg">
    <div class="row">
      <div class="col s12 center"><h4>View Events and Programs</h4></div>

      <div class="col s12 m6 l6">
        <div class="text-center"><h4>EVENTS</h4></div>
        <%= render @events %>
        <h4><%= link_to "View More Events", pages_approved_events_path %></h4>
      </div>

      <div class="col s12 m6 l6">
        <div class="text-center"><h4>PROGRAMS</h4></div>
          <%= render @programs %>
          <h4><%= link_to "View More Programs", pages_approved_programs_path %></h4>
      </div>

    </div><!-- end of row -->
  </div>
</div>
