<div class="container">
    <%= image_tag("young-people-sitting-on-grass.jpg") %>
</div>

  <div class="row">
    <div class="col s4">
      <div class="text-center"><h5>Events</h5></div>
        <div class="col s12">
          <%= render @events %>
        </div>
    </div>
    <div class="col s4">
      <div class="text-center"><h5>Programs</h5></div>
        <div class="col s12">
          <%= render @programs %>
        </div>
    </div>
    <div class="col s4">
      <div class="text-center"><h5>Jobs</h5></div>
        <div class="col s12">
          <%= render @jobs %>
        </div>
    </div>
  </div><!-- end of row -->
