<div class="row">
  <div class="col s12 m8 offset-m2 l8 offset-l2">
    <h5>Blacademics Privacy Policy</h5>
    <h5 class="top-margin-40px">1. Privacy Policy</h5>
    <ol class="info">
      <li>
        <p>
          In this Privacy Policy, the terms, “Blacademics”, "we", "us" and "our" means Blacademics Limited ABN 23 607 566 316.
          Please read this Policy carefully as it explains the way in which we manage and handle personal information, including information collected through this website (the <span class="bold">Website</span>).
          We will handle your personal information in accordance with the Australian Privacy Principles (“<span class="bold">APPs</span>”) which are set out in the Privacy Act 1988 (Cth) (“<span class="bold">Privacy Act</span>”).
        </p>
      </li>
      <li>
        <p>
          We may revise this Privacy Policy from time to time.  We will display a notice on the Website indicating when any such revisions have been made.
        </p>
      </li>

    </ol>


    <h5 class="top-margin-40px">2. What personal information do we collect and hold?</h5>
    <p class="bold">2.1. Our collection of personal information</p>
    <p>The Website provides an online, centralised platform:</p>
    <ol class="info">
      <li>
        <p>for Aboriginal and Torres Strait Islander students, graduates and professionals to create a profile and share their success stories (“<span class="bold">Profiled Students</span>”);</p>
      </li>
      <li>
        <p>for organisations to post opportunities and scholarships that are available to Aboriginal and Torres Strait Islander students (“<span class="bold">Organisations</span>”); and</p>
      </li>
      <li>
        <p>for Aboriginal and Torres Strait Islander students (and their families to discover opportunities and scholarships for Aboriginal and Torres Strait Islander students and discover profiles of successful Aboriginal and Torres Strait Islander people</p>
      </li>


    <p>together,  (“<span class="bold">End Users</span>”).</p>
    <p>To facilitate the provision of these services to End Users, we collect a range of personal information including the following:</p>
      <li>
        <p>
          if you create a profile to become a Profiled Student, your identification information including full name, email, age range, town (optional), state, ethnic background, information about their education journey (optional), career aspirations (optional) and personal story (optional).
          You will be able to set certain personal information as public (available to anyone on the Website) or private (available to people who are registered as a Profiled Student or Organisation).; and
        </p>
      </li>

      <li>
        <p>
          if you create a post on behalf of an Organisation, your identification information including name, email address and job title.
        </p>
      </li>
    </ol>


    <p>Apart from your ethnic background, we do not collect any sensitive information about individuals.</p>
    <p>Please note that while we seek to minimise the personal information we collect, if you do not provide us with the personal information we request, you may not be able to create your profile or post opportunities on the Website.</p>

    <p class="bold">2.1. Collection of personal information by Organisations</p>
    <p>
      If you create a profile as a Profiled Student, Organisations may collect personal information that you have made public through the Website and contact you through the Website.
      The primary purpose for this collection of personal information is for the Organisations to let you know of opportunities and scholarships that are available to you, based on your profile.
    </p>
    <p>
      Organisations bound by the Privacy Act  are required to maintain their own privacy policies. You should review the Organisation’s privacy policies if you require further information as to how they collect, use and disclose personal information.
    </p>
    <p class="bold">2.3. Our use of Cookies</p>
    <p>
      We also collect data about your Website usage through the use of cookies and other technologies.
      Cookies are alphanumeric identifiers that we transfer to your computer’s hard drive through your web browser to enable our systems to recognise your browser and to provide certain functionality to enhance your user experience.
    </p>
    <p>
      We may use anonymous data that we collect through cookies and other technologies such as Google Analytics to assist us to provide Website end users with targeted information about scholarships or other academic or professional opportunities.
    </p>
    <p>
      The Help portion of the toolbar on most browsers will tell you how to prevent your browser from accepting new cookies, how to have the browser notify you when you receive a new cookie, or how to disable cookies altogether.
      Additionally, you can disable or delete similar data used by browser add-ons, such as Flash cookies, by changing the add-on’s settings or visiting the website of its manufacturer.
      However, because cookies allow you to take advantage of some of the Website’s essential features, we recommend that you leave them turned on.
    </p>

    <h5 class="top-margin-40px">3. How do we collect and hold personal information?</h5>
    <p>Generally, we endeavour to collect personal information directly from the individuals concerned.</p>
    <p>Blacademics takes reasonable steps to ensure the security of your personal information.
      In particular, Blacademics encrypts communications between the Website and end users by way of an industry standard SSL certificate, which prevents third party interception of end user data as it is transmitted to the end user.
      End users’ passwords are also stored and protected using stringent security measures.
    </p>
    <p>
      It is important for you to protect against unauthorised access to your password and to your computer. Be sure to sign off from the Website when you finish using a shared computer.
      Any data destroyed is disposed of in an appropriate manner that protects the privacy of your information.
    </p>
    <p>Our service provider stores end users’ personal information in the USA.</p>

    <h5 class="top-margin-40px">4. Why do we collect, hold, use and disclose personal information?</h5>
    <p>The primary purpose for which we collect, hold, use and disclose personal information is to facilitate discovery of through the Website.</p>
    <p>We may also collect, use, store and disclose your personal information for the purposes of:</p>

    <ol class="info">
      <li>
        <p>
          facilitating your creation of a profile as a Profiled Student;
        </p>
      </li>
      <li>
        <p>
          facilitate your posting of opportunities on behalf of an Organisation;
        </p>
      </li>
      <li>
        <p>
          including information about the Profiled Students in our Website;
        </p>
      </li>
      <li>
      <p>
        conducting, improving, maintaining and developing relationships with other entities and individuals, including with Organisations who use our Website;
      </p>
      </li>
      <li>
        <p>
          facilitating your discover of relevant opportunities to you (including based on the information you submitt as a Profiled Student;
        </p>
      </li>
      <li>
        <p>
          meeting our legal and regulatory obligations;
        </p>
      </li>
      <li>
        <p>
          responding to individuals’ queries; and
        </p>
      </li>
      <li>
        <p>
          marketing the services we provide, and providing individuals with information about the Profiled Students and opportunities in Organisations available through our Website.
        </p>
      </li>
    </ol>

    <p>
      If you wish to opt out of the direct marketing communications we send you (including by email), please follow the unsubscribe instructions in the relevant communications, or email us at: enquiries@blacademics.org.
    </p>
    <p>
      To give effect to the purposes described above, we may disclose your personal information to the following individuals and entities:
    </p>

    <ol class="info">
      <li>
        <p>
          Organisations who post opportunities on the Website.  We share information that you have submitted when you created your profile as a Profiled Student.
        </p>
      </li>
      <li>
        <p>
          Other service providers, which we engage to perform services on our behalf.  We provide our service providers with access to your personal information, but only to the extent it is necessary to the services they provide to us.
        </p>
      </li>
      <li>
        <p>
          Offshore disclosures –Except for our service providers in the USA, we do not disclose personal information to persons or entities located outside Australia.
          We may otherwise disclose your personal information to entities if such disclosure is required by, or authorised under, law (including the Privacy Act).
        </p>
      </li>
    </ol>

    <h5 class="top-margin-40px">5. How can you access and correct your personal information?</h5>
    <p>Under the Privacy Act, you have the right to:</p>
    <ol class="info">
      <li>
        <p>
          seek access to the personal information that we collect and hold;
        </p>
      </li>
      <li>
        <p>
          ask us to update or correct your personal information when it is inaccurate, incomplete, or out-of-date; and
        </p>
      </li>
      <li>
        <p>
          opt-out of receiving direct marketing communications from us.
        </p>
      </li>
    </ol>

    <p>
      If you wish to access the personal information that we hold about you, please set out your request in writing, and send it to: enquiries@blacademics.org.
      Please note that we may charge reasonable fees to cover the administrative cost of retrieving and providing access to your personal information.
    </p>
    <p>
      If you are of the view that personal information we hold about you is inaccurate, or out-of-date, or if you have other queries about accessing and correcting your personal information, please contact us using the contact details noted above.
    </p>

    <h5 class="top-margin-40px">6. Making a complaint</h5>
    <p>
      If you wish to make a complaint about how we handle your personal information, please contact us at enquiries@blacademics.org,  setting out your complaint in writing. TBA
      We will deal with all requests for access to personal information or complaints as quickly as possible and will endeavour to get back to you within a reasonable time frame.
    </p>
    <p>
      If you are not satisfied with our response to your complaint, you may lodge a complaint with the Office of the Australian Information Commissioner (“<span class="bold">OAIC</span>”) via their website at http://www.oaic.gov.au/.
    </p>

    <h5 class="top-margin-40px">7. Links to other websites</h5>
    <p>Sometimes this Website contains links to other websites.  When you access a website other than this Website, we are not responsible for the privacy practices of that site.
      We recommend that you review the privacy policies of each website you visit.
    </p>

    <h5 class="top-margin-40px">8. Additional information and how to contact us</h5>
    <p>
      If you have any questions or comments about this Privacy Policy, please set it out in writing, and forward it to us using the contact details below.
    </p>
    <p>Email: enquiries@blacademics.org</p>
    <p>Telephone: 0430 153 201</p>

    <p class="bold top-margin-40px">Date of last revision: 3 October  2015</p>

    <p class="bold top-margin-40px">Consent statements</p>
    <p>
      I consent to the collection, use and disclosure of my personal information for the purposes described in the Blacademics Privacy Policy.
    </p>
    <p>
      I consent to Blacademics sending me communications (including by way of email) about opportunities on the Blacademics website that may interest me.
      I understand that I can withdraw my consent to the receipt of such communications at any time by contacting unsubscribe@blacademics.org.
      Otherwise, my consent will endure until such time as it is withdrawn.
    </p>
  </div>
</div>
