<div class="row">
  <div class="col s12 m8 offset-m2 l8 offset-l2">
    <h5>Blacademics Website Terms Of Use</h5>

    <h5 class="top-margin-40px">1. Terms of use</h5>
    <ol class="info">
      <li>
        <p>
          In these terms of use, "we", "us" and "our" means Blacademics Limited [ABN: 23 607 566 316 of Suite 111, 110 Sussex St, Sydney NSW 2000.
          Please read these terms of use carefully as they apply to your use of this website including any content on it (the <span class="bold">Website</span>).
          By accessing or using the Website you agree to be bound by these terms of use.
        </p>
      </li>
      <li>
        <p>
          We may revise these terms of use from time to time.  We will display a notice on the Website indicating when any such revisions have been made.
        </p>
      </li>
    </ol>

    <h5 class="top-margin-40px" class="top-margin-40px">2. Intellectual property rights</h5>
    <ol class="info">
      <li>
        <p>
          The Website is subject to copyright and possibly other intellectual property rights.
        </p>
      </li>
      <li>
        <p>
          We grant you a limited, non-transferable licence to access and use the Website solely for the following purposes:
        </p>
        <ol class="lower-roman">
          <li>
            <p>
              for your personal, non-commercial purposes; and
            </p>
          </li>
          <li>
            <p>
              for you to post academic or professional opportunities relevant to Aboriginal and Torres Strait Islander students.
            </p>
          </li>
        </ol>
      </li>
      <li>
        <p>
          We (or our licensors) retain all right, title, and interest in and to the Website, and nothing you do on or in relation to the Website will transfer any intellectual property rights to you or, except for the licence referred to in paragraph (b), licence you to exercise any intellectual property rights unless this is expressly stated.
        </p>
      </li>
      <li>
        <p>
          Except as provided in these terms of use, any use or copying of the Website for any other purpose is expressly prohibited, unless prior written consent is obtained from us.  You may contact us at enquiries@blacademics.org if you wish to seek such consent.
        </p>
      </li>
      <li>
        <p>
          Subject to applicable law, we may revoke the permission referred to in paragraphs (b) and (d) at any time and may suspend or deny your access to or use of the Website without notice , if you breach, or we reasonably believe you have breached, any of these terms of use.
        </p>
      </li>
    </ol>

    <h5 class="top-margin-40px" class="top-margin-40px">3. Linking to this Website</h5>
    <ol class="info">
      <li>
        <p>
          We encourage you to provide links to the Website.
          While you may use the name “Blacademics” in the text of any such link, you may not use the Blacademics logo or any of our other trade marks without our prior written consent.
        </p>
      </li>
      <li>
        <p>
          You must not frame this Website, or represent or imply that any part of the Website belongs to anyone other than us.
        </p>
      </li>
      <li>
        <p>
          If we notify you that we object to the manner in which you provide links to this Website, you must immediately cease providing such links.
        </p>
      </li>
    </ol>

    <h5 class="top-margin-40px">4. Accuracy of content</h5>
    <ol class="info">
      <li>
        <p>
          Some of the information on the Website may be provided by third parties, such as organisations who may have relevant academic or professional opportunities for Aboriginal and Torres Strait Islander students, or individuals who submit information for their profiles on the Website.
          While we believe that these third parties are reliable sources of this information, we cannot guarantee that this information is always accurate, up-to-date or complete.
        </p>
      </li>
      <li>
        <p>
          The material provided and views expressed by other users of the Website are the materials of those users and are not ours.
        </p>
      </li>
    </ol>

    <h5 class="top-margin-40px">5. Registration and Your Content</h5>
    <p class="bold">5.1. Your Content</p>
    <ol class="info">
      <li>
        <p>
          You must not provide any material through the Website (<span class="bold">Your Content</span>) that:
          <ol class="lower-roman">
            <li>
              <p>
                infringes the intellectual property or other rights of another person;
              </p>
            </li>
            <li>
              <p>
                is defamatory, offensive, abusive, pornographic, profane or otherwise unlawful, including material that racially or religiously vilifies, incites violence or hatred, or is likely to insult or humiliate others based on race, religion, ethnicity, gender, age, sexual orientation or any physical or mental disability;
              </p>
            </li>
            <li>
              <p>
                relates to unlawful conduct;
              </p>
            </li>
            <li>
              <p>
                creates a privacy or security risk to any person, including by soliciting personal information from any person;
              </p>
            </li>
            <li>
              <p>
                solicits money from any person;
              </p>
            </li>
            <li>
              <p>
                is false, misleading or deceptive;
              </p>
            </li>
            <li>
              <p>
                contains financial, legal, medical or other professional advice;
              </p>
            </li>
            <li>
              <p>
                would harm, abuse, harass, stalk, threaten or otherwise offend;
              </p>
            </li>
            <li>
              <p>
                would reflect negatively on us, including our goodwill, name and reputation;
              </p>
            </li>
            <li>
              <p>
                tampers with, hinders the operation of, or makes unauthorised modifications to the Website;
              </p>
            </li>
            <li>
              <p>
                would breach any applicable laws; or
              </p>
            </li>
            <li>
              <p>
                would otherwise result in civil or criminal liability for you, us or any third party.
              </p>
            </li>
          </ol>
        </p>
      </li>
      <li>
        <p>
          By providing us with any of Your Content, you:
          <ol class="lower-roman">
            <li>
              <p>
                grant us a non-exclusive, worldwide, royalty-free, perpetual, licence (including a right of sublicence) to use, copy, modify and otherwise exploit Your Content in any form or on any medium and for any purpose; and
              </p>
            </li>
            <li>
              <p>
                warrant that you have the right to grant such licence.
              </p>
            </li>
          </ol>
        </p>
      </li>
      <li>
        <p>
          You agree to indemnify and hold us (including any of our directors, officers, employees and contractors) harmless from any claim made by any third party arising out of Your Content.
        </p>
      </li>
      <li>
        <p>
          We may, without notice to you, review, modify or remove any of Your Content in our absolute discretion including where we believe it violates these terms of use.
        </p>
      </li>
    </ol>

    <h5 class="top-margin-40px">6. General restrictions</h5>
    <p>In using the Website, you must not:<p>
      <ol class="info">
        <li>
          <p>
            provide us with inaccurate or incomplete information;
          </p>
        </li>
        <li>
          <p>
            violate any applicable laws, or use the Website for any purpose that is unlawful;
          </p>
        </li>
        <li>
          <p>
            distribute viruses, spyware, corrupted files, or any other similar software or programs that may damage the operation of any computer hardware or software;
          </p>
        </li>
        <li>
          <p>
            collect or store data about other users of the Website; or
          </p>
        </li>
        <li>
          <p>
            engage in any other conduct that inhibits any other person from using or enjoying the Website.
          </p>
        </li>
      </ol>
    <h5 class="top-margin-40px">7. Warranties and liability</h5>
    <ol class="info">
      <li>
        <p>
          All express or implied guarantees, warranties, representations, statements, terms and conditions relating to these terms of use and the Website that are not contained in these terms of use, are excluded to the maximum extent permitted by law.
        </p>
      </li>
      <li>
        <p>
          In particular, and without limiting paragraph (a):
          <ol class="lower-roman">
            <li>
              <p>
                while we endeavour to provide a convenient and functional Website, we do not guarantee that your requirements will be met or that your use of the Website will be uninterrupted, error free or that the Website is free of viruses or other harmful components; and
              </p>
            </li>
            <li>
              <p>
                we cannot be responsible for any loss, corruption or interception of data sent to or from our Website which occurs outside of our computer systems (such as those which occur while being sent over the internet).
              </p>
            </li>
          </ol>
        </p>
      </li>
      <li>
        <p>
          We recommend that you install and use up-to-date anti-virus, anti-spyware and firewall software on your computer.
        </p>
      </li>
      <li>
        <p>
          Nothing in these terms of use excludes, restricts or modifies any guarantee, term, condition, warranty, or any right or remedy, implied or imposed by any legislation which cannot lawfully be excluded or limited,
          including the Australian Consumer Law which contains guarantees that protect the purchasers of goods and services in certain circumstances.
        </p>
      </li>
      <li>
        <p>
          If any guarantee, term, condition or warranty is implied into these terms of use under the Australian Consumer Law or any other applicable legislation (a <span class="bold">Non-Excludable Provision</span>) and we are able to limit your remedy for a breach of the Non-Excludable Provision,
          then our liability for breach of the Non-Excludable Provision is limited to one or more of the following at our option:
          <ol class="lower-roman">
            <li>
              <p>
                in the case of goods, the replacement of the goods or the supply of equivalent goods, the repair of the goods,
                the payment of the cost of replacing the goods or of acquiring equivalent goods, or the payment of the cost of having the goods repaired; or
              </p>
            </li>
            <li>
              <p>
                in the case of services, the supplying of the services again, or the payment of the cost of having the services supplied again.
              </p>
            </li>
          </ol>
        </p>
      </li>
      <li>
        <p>
          Subject to paragraphs (g) and (h) and our obligations under the Non-Excludable Provisions,
          and to the maximum extent permitted by law, our maximum aggregate liability for all claims under or relating to these terms of use or the Website whether in contract,
          tort (including negligence), in equity, under statute, under an indemnity, based on fundamental breach or breach of a fundamental term or on any other basis, is limited to AUD 100.
        </p>
      </li>
      <li>
        <p>
          Subject to our obligations under the Non-Excludable Provisions, and to the maximum extent permitted by law, we are not liable for, and no measure of damages will, under any circumstances, include:
          <ol class="lower-roman">
            <li>
              <p>
                special, indirect, consequential, incidental or punitive damages; or
              </p>
            </li>
            <li>
              <p>
                damages for loss of profits, revenue, goodwill, anticipated savings or loss or corruption of data,
              </p>
            </li>
          </ol>
          whether in contract, tort (including negligence), in equity, under statute or on any other basis, whether or not such loss or damage was foreseeable and even if advised of the possibility of the loss or damage.
        </p>
      </li>
      <li>
        <p>
          Our liability to you is diminished to the extent that your acts or omissions (or those of a third party) contribute to or cause the loss or liability.
        </p>
      </li>
    </ol>

    <h5 class="top-margin-40px">8. Variation of the Website</h5>
    <p>
      We may from time to time and without notice, vary, modify or discontinue, temporarily or permanently, any or all of the Website.
    </p>

    <h5 class="top-margin-40px">9. Links and advertisements</h5>
    <p>
      The Website may contain links to other third party websites, and also advertisements which include embedded links.
      We have not reviewed any of the sites linked to the Website and are not responsible for the content or accuracy of any off-site pages or any other sites linked to the Website.
      The inclusion of any link or advertisement does not imply that we endorse the linked site or the subject matter of the advertisement.
    </p>

    <h5 class="top-margin-40px">10. Privacy policy</h5>
    <p>
      In using the Website, you may give us personal information.  By using the Website, you grant us consent to collect, store, use and disclose such personal information in accordance with our privacy policy.
      Please click on this <a class="black-text" style="text-underline-position: auto;" href="/pages/privacy_policy"><span class="text-decoration-underline">link</span></a> to view our privacy policy.
    </p>

    <h5 class="top-margin-40px">11. Force Majeure</h5>
    <p>
      Neither party will be liable for any failure or delay in performing any of its obligations under these terms if such delay is caused by circumstances beyond that party’s reasonable control.
    </p>

    <h5 class="top-margin-40px">12. Infringing or objectionable content</h5>
    <p>
      If you believe the Website contains elements that are objectionable, or infringe copyright or any other rights, please contact us by [emailing enquiries@blacademics.org and provide particulars of such content and a detailed description of why it is objectionable or infringing.
    </p>

    <h5 class="top-margin-40px">13. General</h5>
    <ol class="info">
      <li>
        <p>
          If any part of these terms of use is held to be unenforceable, the unenforceable part is to be given effect to the greatest extent possible and the remainder will remain in full force and effect.
        </p>
      </li>
      <li>
        <p>
          These terms of use are governed by the laws of New South Wales, Australia, and you irrevocably submit to the exclusive jurisdiction of the courts of New South Wales, Australia.
        </p>
      </li>
      <li>
        <p>
          These terms of use constitute the entire agreement between us and you in relation to the Website and supersede all other (prior or contemporaneous) communications or displays whether electronic, oral, or written, between us and you in relation to the Website.
        </p>
      </li>
      <li>
        <p>
          Your use of the Website is conducted electronically and you agree that we may communicate with you electronically for all aspects of your use of the Website, including sending you electronic notices.
        </p>
      </li>
      <li>
        <p>
          The provisions of these terms of use which by their nature survive termination or expiry of these terms of use will survive termination or expiry of these terms of use.
        </p>
      </li>
      <li>
        <p>
          No waiver, delay or failure by us to take any action shall constitute or be construed as a waiver of that or any other term, condition, option, privilege or right we may have.
        </p>
      </li>
      <li>
        <p>
          The word “including” when used in these terms of use is not a term of limitation.
        </p>
      </li>
    </ol>

    <p class="top-margin-40px">Date of last revision: 03 October 2015</p>
  </div>
</div>
