<div class="main-pattern">
  <div class="container white-bg">
    <div class="row">
      <div class="col s1 white-text">.</div>
      <div class="col s10">
        <h4>Uni Students and Alumni</h4>
          <div class="quotes">
            <p class="flow-text bold italic" >Welcome to the Students and Alumni!</p>
            <p class="flow-text">You’ll find a number of useful tips on our <a href="/pages/guides">Guides and FAQs page</a> and also check out our <a href="/pages/uni_students_listings">Listings</a> page for opportunities that might support you through uni.</p>
            <p class="flow-text">Uploading your details on the "My Profile" page will allow you to share your story to your friends and relatives who might be considering a university degree.  You can make your profile public so that others can contact you.  This will be very helpful to teenagers who are looking up to you and perhaps aspiring to do the same degree as you.   We encourage young people to ask questions and seek advice so you just may give a young person some life changing advice.  We sincerely hope so.</p>
            <p class="flow-text italic">Please <a href="/users/sign_in">Sign Up or Sign In</a> and start uploading your profile.</p>
            <p class="flow-text">Also if your profile is public, don’t be surprised if a future employer contacts you via this site.  Here’s a tip: Make your profile professional enough to appeal to future employers and fun enough to inspire others by your journey through university and your career.</p>
        </div><!-- end of quotes -->
        <br><br>
      </div>
      <div class="col l1 white-text">.</div>
    </div><!-- end of row -->

  <div class="row">
      <!-- View Listings -------------------------------------->
      <a href="/pages/uni_students_listings">
        <div class="col s12 m4 l4">
          <div class="card-panel palette4-bg center">
            <span class="white-text">View Listings</span>
          </div>
        </div>
      </a>

      <!-- Universities and Indigenous Units-------------------------------------->
      <a href="/pages/universities">
        <div class="col s12 m4 l4">
          <div class="card-panel palette4-bg center">
            <span class="white-text">Universities and Indigenous Units</span>
          </div>
        </div>
      </a>

      <!-- Guides & FAQ -------------------------------------->
      <a href="/pages/guides">
        <div class="col s12 m4 l4">
          <div class="card-panel palette4-bg center">
            <span class="white-text">Guides & FAQ</span>
          </div>
        </div>
      </a>

    </div><!-- end of row -->

  </div>
</div>
