<% if user_signed_in? %>
  <% if current_user.has_role? :student %>
    <div class="row">
      <div class="col s12 m8 offset-m2 l8 offset-l2">
        <h4>New Student Profile</h4>
        <%= render 'form' %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col s12 m8 offset-m2 l8 offset-l2">
        <div class="errormsg"><h5>Only student is allowed to create a student profile.</h5></div>
      </div><!-- end of col s12 -->
    </div><!-- end of row -->
  <% end %>
<% end %>
