@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';
@import 'datetimepicker';
#logo{
  width: 100px;
  height: 100px;
  background: blue;
}
header, main, footer {
    padding-left: 240px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }


.border-top{
  border-top: 1px solid grey;
}

.taglines{
  font-style: italic;
  color: #d1d1d1;
}

.errormsg{
  font-style: italic;
  color: #ed0e0e;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.front-image{
  background-size: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.text-center{
  text-align: center;
}

.grey-text{
  color: #424242;
}
