@import "materialize/components/color";
<!-- original colour setting, commented out -->
// $primary-color: color("blue", "lighten-2") !default;

// $primary-color:white;

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

@import 'materialize';
@import 'datetimepicker';
#logo{
  width: 100px;
  height: 100px;
  background: white;
}
header, main, footer {
    padding-left: 240px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }


.border-top{
  border-top: 1px solid grey;
}

.taglines{
  font-style: italic;
  color: #d1d1d1;
}

.errormsg{
  font-style: italic;
  color: #ed0e0e;
}
.okaymsg{
  font-style: italic;
  color: blue;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


.front-image{
  background-position: right;
  background-repeat: no-repeat;


}

.text-center{
  text-align: center;
}

.grey-text{
  color: #424242;
}

.margin-left{
  margin-left: 80px;
}

.video{
  margin: 0 auto;
  width: 600px;
  height: 400px;
  background: blue;
}

.info_graphic{
  margin: 0 auto;
  width: 1000px;
  height: 600px;
  background: blue;
}

.content_boxes{
  margin: 0 auto;
  width: 330px;
  height: 300px;
  background: blue;
  margin-bottom: 10px;
}
