@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';
#logo{
  width: 100px;
  height: 100px;
  background: blue;
}
header, main, footer {
    padding-left: 240px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }
