<%= simple_form_for(@category) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <input class="boolean optional" type="checkbox" value="1" name="category[highschool]" id="category_highschool" />
    <label class="boolean optional checkbox" for="category_highschool">Highschool</label>
    <div class="taglines">Mentoring, Development, Pre-Tertiary programs and Winter and Summer schools</div>

    <input class="boolean optional" type="checkbox" value="1" name="category[undergraduate]" id="category_undergraduate" /><label class="boolean optional checkbox" for="category_undergraduate">Undergraduate</label>
    <div class="taglines">Direct Access: ATAR and OP, Indirect Access: Pathway, Enabling, Admissions, Preparatory and Bridging programs</div>

    <input class="boolean optional" type="checkbox" value="1" name="category[postgraduate]" id="category_postgraduate" /><label class="boolean optional checkbox" for="category_postgraduate">Postgraduate</label>
    <div class="taglines">Masters, Honours and PhD programs</div>

    <input class="boolean optional" type="checkbox" value="1" name="category[employment]" id="category_employment" /><label class="boolean optional checkbox" for="category_employment">Employment</label>
    <div class="taglines">Internships, Cadetships, Traineeships and Jobs </div>

    <input class="boolean optional" type="checkbox" value="1" name="category[community]" id="category_community" /><label class="boolean optional checkbox" for="category_community">Community</label>
    <div class="taglines">Aboriginal and Torres Strait Islander peoples and organisations </div>

    <% if params[:event_id] %>
      <%= f.input :event_id, :as => :hidden, input_html: { value: params[:event_id]} %>
      <!-- Use the :input_html option  to pass any html attribute (:event_id) straight to the input -->
    <% end %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
