 <ul id="slide-out" class="side-nav fixed">
  <% if current_user.has_role? :admin %>
      <li><a href="/pages/admin"><i class="left medium material-icons palette6">menu</i><div class="palette6">Admin Menu</div></a></li>
      <li><a href="/pages/events"><i class="left medium material-icons palette6">event_note</i><div class="palette6">Events</div></a></li>
      <li><a href="/pages/programs"><i class="left medium material-icons palette6">assignment</i><div class="palette6">Programs</div></a></li>
      <li><a href="/pages/jobs"><i class="left medium material-icons palette6">work</i><div class="palette6">Jobs</div></a></li>
      <li><a href="/organisations"><i class="left medium material-icons palette6">domain</i><div class="palette6">Organisations</div></a></li>
      <li><a href="/student_profiles"><i class="left medium material-icons palette6">supervisor_account</i><div class="palette6">Students</div></a></li>
  <% end %>
</ul>
<a href="/#" data-activates="slide-out" class="button-collapse font-34px"><i class="fa fa-bars">Admin Menu</i></a>
<!-- can we fix this, please, this is the little icon on the left for mobile size -->
