<!-- DO NOT USE SIDEBAR -->
 <ul id="slide-out" class="side-nav fixed">
  <% if current_user.has_role? :admin %>
    <li><a href="/pages/admin"><i class="left medium material-icons">menu</i>Admin Menu</a></li>
    <li><a href="/pages/events"><i class="left medium material-icons">event_note</i>Events</a></li>
    <li><a href="/pages/programs"><i class="left medium material-icons">assignment</i>Programs</a></li>
    <li><a href="/pages/jobs"><i class="left medium material-icons">work</i>Jobs</a></li>
    <li><a href="/organisations"><i class="left medium material-icons">domain</i>Organisations</a></li>
    <li><a href="/student_profiles"><i class="left medium material-icons">supervisor_account</i>Students</a></li>
  <% end %>
</ul>
<a href="/#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
<!-- can we fix this, please, this is the little icon on the left for mobile size -->


<!-- <nav>
  <ul class="right hide-on-med-and-down">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <ul id="slide-out" class="side-nav">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav> -->
